#message-box {
    position: absolute;
    top: 30%;
    background-color: red;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(43, 43, 43);
    background-color: rgb(66, 66, 66);
}

#message-box-content {
    text-align: left;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

#message-box-content > h2 {
    margin: 0;
}

#message-box-btn-no {
    background-color: rgb(194, 194, 194);
    color: rgb(51, 51, 51);
}

/* 
background-color: rgb(66, 66, 66);
    border: 3px solid;
    border-color:rgb(95, 95, 95);
    border-radius: 8px; */